@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html, ul { font-size: 1.1em; padding: 0; margin: 0; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }



/* $body : #DCDCDC; */
$body : #56708b;
$header-color: #a6a6a6;
$main-text-color: #6c99c2;
$main-bg-color:#f0efee;
$a-color: #1a417c;
$hover-color: $a-color;
$schatten : 2px 5px 5px -4px #808080;

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: $main-text-color;
	background: $body;
	margin: 0 auto;
}

a {
	color: $a-color;
	text-decoration: none;
}

a:hover,
a:active,{
	color: $a-color;
	background: $main-text-color;
	text-decoration: none;
}



header {
 	margin: 0 auto;
	padding: 1.5em;
	color: $header-color;

	h1 {
		font-size: 2.625em;
		line-height: 1.3;
		margin: 0;
		font-weight: 300;
	}
}

nav {
	width: 20%;
	font-size: 1.3em;
	overflow: hidden;
	float: left;
	text-align: center;

	a {
		display: block;
		padding: 5px;
		margin-top: 15px;
	}
}

article {
	clear: both;
	padding: 5% 0 0 5%;

	section {
		padding-left: 25px;
	}
}

article:first-of-type {padding-top: 10px;}

#main { 
	background: none repeat scroll 0 0 $main-bg-color;
	border-radius: 4px;
    color: $main-text-color;
    float: left;
    width: 80%;

    h1 {
    	text-decoration: underline;
    }
}

#logo {
	margin-top: 25px;
	width:48% 
}

#imp li {
	list-style: none;
}

#me img {
	border-radius: 50px;
	height:300px
}

#l li {
	margin-bottom: 0.3em
}

.ref {
	float: left;

	img {
		width: 60%
	}
	
	a:hover{
		background: none
	}

	h2 {
		font-size: 0.8em
	}

	h2 a:hover {
		background: $main-text-color;
	}

	ul {
		padding: 20px 0 0 25px;
	}
}


/* Scroll to Top */
#scroll-button.hidden {
    opacity: 0;
    top: -40px;
}

#scroll-button, .touch-device #scroll-button:hover {
    background: url("../pix/scroll-button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

#scroll-button, .touch-device #scroll-button:hover {
    background: url("../pix/scroll-button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#scroll-button, .touch-device #scroll-button:hover {
    background: url("../pix/scroll-button.png") no-repeat scroll center center transparent;
    display: block;
    height: 40px;
    opacity: 0.8;
    position: fixed;
    right: 40px;
    text-indent: -9999px;
    top: 40px;
    transition: all 0.2s ease 0s;
    width: 40px;
    z-index: 100;
}