/ About
%section#about
  .container
    .row
      .col-lg-12.text-center
        %h2 Über Mich
        %hr.star-primary/
    .row
      #portrait.col-lg-4.col-lg-offset-2
        %img{:src => "img/portrait-2.jpg", :style => "width:80%;max-width: 250px;max-height: 281px;", :alt => "Portrait"}
      .col-lg-4
        %p
          Ich bin 39 Jahre alt und arbeite freiberuflich als Webprogrammierer. Ausserdem bin ich
          %a{:href => "http://www.rainervonvielen.de", :target => "_blank"} Musiker
          und Vater.
        %p
          Ich interessiere mich für Webtechnologie im Allgemeinen, speziell habe ich Ruby für mich entdeckt. Ich versuche viele Webdienste selber zu betreiben. So betreibe ich einen Chatserver, eine Owncloud Instanz, einen
          %a{:href => "https://diasp.danletard.de/"} diaspora*
          Pod und noch diverse kleinere Projekte. Ich engagiere mich bei attac wenn es die Zeit zulässt.


