/Footer
%footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          %h3 Adresse
          %p
            Arlingerplatz 5
            %br
            D-75179 Pforzheim
            %br
            +49 179 7784 092
            %br
            Telegram: @DanielSchubert
        .footer-col.col-md-4
          %h3 Im Netz bin ich noch hier zu finden:
          %ul.list-inline
            %li
              %a.btn-social.btn-outline{:href => "https://github.com/danielschubert"}
                %i.fa.fa-fw.fa-github
            %li
              %a.btn-social.btn-outline{:href => "https://diasp.danletard.de/people/79edbe804c40013475f979efefd1fe25"}
                %img{:src => "img/diaspora_asterisk_32.png", :alt => "diaspora logo"}
        .footer-col.col-md-4
          %p
            Als Kleinunternehmer bin ich von der Umsatzsteuer befreit.
  .footer-below
    .container
      .row
        #ds.col-lg-12
          %a#ds-open{:href => "#ds"} Datenschutzerklärung
          #ds-container{:style => "display: none"}
            %p
              Soweit auf dieser Seite personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies stets auf freiwilliger Basis. Weiterhin wird auf dieser Webseite die Analytics-Software “Piwik” eingesetzt, welche das Verhalten der Besucher auswertet. IP-Adressen werden dabei nicht gespeichert, also ist dadurch kein Rückschluss auf die Person möglich. Die Daten werden streng vertraulich behandelt und nicht verkauft oder weitergegeben. Die Analyse Ihres Verhaltens auf www.schubertdaniel.de können Sie
              %a{:href => "https://www.danletard.de/piwik/index.php?module=CoreAdminHome&action=optOut&language=de"} HIER
              abschalten.
            %p
              Ich weise darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen.
            %p
              Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
            %p
              %button#ds-close Schließen


