/ Leistungen Section
%section#values.success
  .container
    .row
      .col-lg-12.text-center
        %h2 Meine Leistungen
        %hr.star-light
    .row
      %h3 Meine Leistungen für Sie
      %ul
        %li Ich begleite Sie über den gesamten Prozess der Webseitenerstellung. Vom ersten Entwurf bis zum "scharf stellen".
        %li Individuelle Lösungen auf Basis von Wordpress oder anderer CMS; Theme und Plugin Entwicklung
        %li Responsive Design
        %li Webshop Lösungen mit OXID
        %li Performance-Optimierung und SEO
        %li
          Besuchs Statistiken mit
          %a{:href => "https://www.piwik.org"} Piwik
        %li Pflege und Wartung von schon bestehenden Internet-Präsenzen
        %li Hosting auf meinen Servern während der Entwicklungsphase
        %li Linux Server Administration / Wartung
        %li Beratung / Schulung
      %h3 Meine technischen Schwerpunkte
      %ul
        %li PHP - HTML5 - CSS3 - jQuery
        %li SASS - GIT
        %li Debian Linux - bash - ruby
        %li Grafikbearbeitung


