/ Portfolio Grid Section
%section#portfolio
  .container
    .row
      .col-lg-12.text-center
        %h2 Projekte
        %hr.star-primary/
    .row
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/rvv-kl.jpg"}
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal9"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/amw.jpg"}
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/rzss-kl.jpg"}
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/woracek-kl.jpg"}
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/metior-kl.jpg"}
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/goepfert-kl.jpg"}
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/orange-kl.jpg"}
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal7"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/orange-shop.jpg"}
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal8"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "img/didgeridoo-kl.jpg"}
